* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #fc8b00;
    height: 3rem;
    width: calc(100% - 1rem);
    align-items: center;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}

.navbarTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-left: 1rem;
}

.btnLogout {
    margin: 0;
}

.logoutIcon {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
}

.dashboard {
    display: flex;
    flex: 1;
    width: calc(100% - 4rem);
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.dashboardContent {
    display: block;
    flex: 0.7;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.filterSearch {
    display: flex;
    align-items: center;
    flex: 0.7;
}

.filterIcon {
    color: rgb(107, 107, 107);
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 0;
}

.btnAdd {
    background-color: #fc8b00;
    height: calc(1.5em + 0.81rem);
    margin-left: 1rem;
    padding: 0.4rem;
    flex: 0.4;
    max-width: 20%;
    cursor: pointer;
}

.btnAdd:active {
    background-color: #ffb253;
}

.formControlDash {
    margin-bottom: 0;
    margin-left: 1rem;
    flex: 1;
}

table {
    width: 100%;
}

.tableContent {
    background-color: #fff;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

tbody tr:hover {background-color: #f2f2f2;}

th, td {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0.8rem;
  text-align: center;
}

.tableContent thead tr {
    padding: 1rem;
}

.tableContent th {
    color: rgb(107, 107, 107);
    font-weight: bold;
    text-align: center;
}

.btnIcon {
    color: #fc8b00;
    font-size: 1rem;
    background-color: rgba(1, 1, 1, 0);
    margin: 0.5rem;
    border-color: none;
    border-width: 0;
    cursor: pointer;
}

.btnIcon:hover {
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

li {
    list-style: none;
    border: 1px solid #fc8b00;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

li a {
    text-decoration: none;
    color: #fc8b00;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.active {
    background-color: #fc8b00;
    border: 1px solid #fc8b00;
}

.active a {
    color: #fff;
}

ul .disabled {
    border: 1px solid #ccc;
}

ul .disabled a {
    color: #ccc;
}

.indexNext {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.filter .disabled {
    background-color: #dddddd;
    color: rgb(129, 129, 129);
    border: 1px solid #dddddd;
}

.loading {
    font-size: 3rem;
    color: #fc8b00;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    transform: translate(-50%, -50%);
    animation: loading 1s linear infinite;
}

.noContent {
    font-size: 1.5rem;
    color: rgb(171, 171, 171);
    text-align: center;
    margin-top: 2rem;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert {
    position: absolute;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
}

.alert-dismissible {
    padding-right: 3rem;
}

.alert-heading {
    font-weight: bold;
    font-size: 1.25rem;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    color: #000;
    background: transparent url(
        "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E"
        ) 50%/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
    cursor: pointer;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 800px) {
    .dashboard {
        padding: 0.5rem;
        padding-top: 1rem;
        display: flex;
        width: calc(100% - 1rem);
    }

    .dashboardContent {
        display: block;
        flex: 0.7;
        max-width: 100%;
    }

    .filter {
        max-width: 100%;
    }

    .btnAdd {
        max-width: 100%;
    }

    .tableContainer {
        width: 100%;
    }

    .tableContent {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
}